.post {
  .img {
    margin: 0 auto;
  }

  .blue {
    padding: 61px;
    background: var(--blue);
    border-radius: 4px 4px 0 0;
  }

  .blue_1 {
    padding: 67px;
    background: var(--blue);
    border-radius: 4px 4px 0 0;
  }

  .blue_3 {
    padding: 61px;
    background: var(--blue_3);
    border-radius: 4px 4px 0 0;
  }

  .gray_5 {
    padding: 67px;
    background: var(--gray_5);
    border-radius: 4px 4px 0 0;
  }

  .info {
    display: block;
    padding: 42px 0 24px 20px;
    background: var(--white);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .02), 0 3px 20px rgba(0, 0, 0, .05);
  }

  .title {
    max-width: 320px;
    padding-bottom: 16px;
  }

  .text {
    max-width: 400px;
  }
}
@media screen and ( max-width: 992px ) {
  .post {
    .general-title {
      font-size: 16px;
    }

    .general-text {
      font-size: 14px!important;
    }

    .text {
      max-width: 290px;
    }
  }
}

@media screen and ( max-width: 767px ) {
  .post {
    .general-title {
      font-size: 18px;
    }

    .general-text {
      font-size: 14px!important;
    }

    .text {
      max-width: 210px;
    }

    .blue {
      padding: 55px;
    }

    .blue_3 {
      padding: 55px;
    }

    .gray_5 {
      padding: 41px;
    }

    .blue_1 {
      padding: 41px;
    }
  }
}

@media screen and ( max-width: 576px ) {
  .post {
    .info {
      padding: 30px 10px 26px;
    }

    .title {
      margin: 0;
      text-align: left;
    }

    .text {
      max-width: 100%;
      margin: 0 auto;
      text-align: left;
    }

    .blue {
      padding: 24px;
    }

    .blue_1 {
      padding: 30px;
    }

    .blue_3 {
      padding: 42px;
    }

    .gray_5 {
      padding: 30px;
    }
  }
}

@media screen and ( max-width: 479px ) {
  .post {
    .title {
      font-size: 20px;
    }

    //.general-title {
    //  font-size: 14px;
    //}
    .general-text {
      font-size: 14px!important;
    }

    //.text {
    //  max-width: 260px;
    //}
  }
}