.team-page {
  .team-title {
    justify-content: space-between;
    padding-left: 216px;
  }

  .title {
    max-width: 600px;
    margin-top: 15px;
  }

  .team-right {
    max-width: 368px;
    margin-top: 112px;
    margin-right: 176px;
  }
}