<div class="fast">
    <div class="@@class">
        <picture>
            <img height="112" class="img" src="@@img" alt="">
        </picture>
    </div>
    <div class="fast-info">
        <div class="title">
            <p class="general-title">@@title</p>
        </div>
        <div class="text">
            <p class="general-text">@@text</p>
        </div>
        <div class="fast-extra df aic">
<!--            <p class="pr6 fast-text">Подробнее</p>-->
<!--            <picture>-->
<!--                <img class="fast-img" src="/images/dest/arrow.svg" alt="123">-->
<!--            </picture>-->
        </div>
    </div>
</div>