




<div class="footer">
    <div class="container-fluid icons">
        <div class="container text-center">
            <div class="df jcc">
                <a href="#"><img class="mr20 ml20 list" src="images/dest/instagram.svg" alt="be"></a>
                <a href="#"><img class="mr20 ml20 list" src="images/dest/discord.svg" alt="youtube"></a>
                <a href="#"><img class="mr20 ml20 list" src="images/dest/vk.svg" alt="unknown"></a>
                <a href="#"><img class="mr20 ml20 list" src="images/dest/telegram.svg" alt="twitter"></a>
            </div>
        </div>
    </div>
    <div class="container footer_copy">
        <picture>
            <img class="footer_copy-img" src="images/dest/logo.png" alt="">
        </picture>
        <p class="copy col-lg-12">Команда  kopcap.digital / 2021. Все права защищены</p>
    </div>
</div>




<!-- Подключаем скрипты проекта -->
<script src="js/app.min.js"></script>

</body>
</html>
