<div class="index-page-post">
    <div class="post-container">
        <div class="container">
            <div class="row @@classadd">
                <div class="col-sm-3 post-img p0 m-auto">
                    <picture>
                        <img class="img" src=@@img alt="123">
                    </picture>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8 m-auto post-info p0">
                    <h2 class="title">@@title</h2>
                    <p class="info-text">@@text</p>
                    <div class="about df aic">
                        <a href=@@url><p class="text">Узнать больше</p></a>
                        <picture>
                            <img class="fast-img" src="/images/dest/arrow.svg" alt="123">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>