<div class="wrapper-page-slider">
    <div class="container-fluid swiper index-page-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->

            <div class="swiper-slide">
                <div class="slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-bg">
                                    <div class="row">
                                        <div class="slider-left-column col-md-4">
                                            <picture>
                                                <source class="left-img" srcset="images/dest/erfogel-mobile.svg" media="(max-width: 767px)">
                                                <img class="left-img" src="images/dest/erfogel.svg" alt="">
                                            </picture>
                                        </div>
                                        <div class="slider-right-column col-md-8 pt20">
                                            <picture>
                                                <img class="quotes-img" src="images/dest/quotes.svg" alt="">
                                            </picture>
                                            <p class="slider-right-column-review">Компания Erfogel - основана в странах России, Беларуси, Украины и Казахстана. Занимается изучением импортных никелевых сплавов в конкретных областях применения и поставляет никелевые сплавы и изделия из них со складов компании в Германии, Великобритании, Швейцарии и Польши.</p>
                                            <p class="slider-right-column-name">Россия</p>
                                            <p class="slider-right-column-position">г. Белгород</p>
                                            <div class="slider-right-column-link">
                                                <p class="slider-right-column-link-text"><a href="https://www.erfogel.ru/" target="_blank">Перейти на сайт</a></p>
                                                <picture>
                                                    <img src="images/dest/arrow.svg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-bg">
                                    <div class="row">
                                        <div class="slider-left-column col-md-4">
                                            <picture>
                                                <source class="left-img" srcset="images/dest/rivera.jpg" media="(max-width: 767px)">
                                                <img class="left-img" src="images/dest/slider-img.svg" alt="">
                                            </picture>
                                        </div>
                                        <div class="slider-right-column col-md-8 pt20">
                                            <picture>
                                                <img class="quotes-img" src="images/dest/quotes.svg" alt="">
                                            </picture>
                                            <p class="slider-right-column-review">
                                                Riviera wellness resort - компания, которая предоставляет туристам курортный комплекс премиум-класса на берегу
                                                лазурного озера с наличием отеля, гастрономии, клиники и активностей.</p>
                                            <p class="slider-right-column-name">Россия</p>
                                            <p class="slider-right-column-position">г. Белгород</p>
                                            <div class="slider-right-column-link">
                                                <p class="slider-right-column-link-text"><a href="https://rivierawell.ru/" target="_blank">Перейти на сайт</a></p>
                                                <picture>
                                                    <img src="images/dest/arrow.svg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-bg">
                                    <div class="row">
                                        <div class="slider-left-column col-md-4">
                                            <picture>
                                                <source class="left-img" srcset="images/dest/beskar-mobile.svg" media="(max-width: 767px)">
                                                <img class="left-img" src="images/dest/beskar.svg" alt="">
                                            </picture>
                                        </div>
                                        <div class="slider-right-column col-md-8 pt20">
                                            <picture>
                                                <img class="quotes-img" src="images/dest/quotes.svg" alt="">
                                            </picture>
                                            <p class="slider-right-column-review">Компания «Бескар Материалз» специализируется на поставке широкого ассортимента высококачественных специальных сталей по конкурентным ценам.</p>
                                            <p class="slider-right-column-name">Казахстан</p>
                                            <p class="slider-right-column-position">г.Алматы</p>
                                            <div class="slider-right-column-link">
                                                <p class="slider-right-column-link-text"><a href="https://beskar-materials.com/" target="_blank">Перейти на сайт</a></p>
                                                <picture>
                                                    <img src="images/dest/arrow.svg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="slider_pagination">
        <div class="button-slider swiper-button-prev">
            <img src="images/dest/index-page-slider-arrow.svg" alt="">
        </div>
        <div class="button-slider swiper-button-next">
            <img src="images/dest/index-page-slider-arrow.svg" alt="">
        </div>
    </div>
</div>