<div class="post">
    <div class="df fdc">
        <div class="@@class dib">
            <picture>
                <img height="112" class="img" src="@@img" alt="">
            </picture>
        </div>
        <div class="info">
            <div class="title">
                <p class="general-title">@@title</p>
            </div>
            <div class="text">
                <p class="general-text">@@text</p>
            </div>

            @@for (var i = 0; i < list.length; i++) {
            <div class="link df pt7">
                <img class="pr8" src="images/dest/rhombus.svg" alt="">
                <p class="general-text">
                    `+list[i]+`
                </p>
            </div>
            }

        </div>
    </div>
</div>


