.question-page {
  .question-page-title {
    margin-top: 128px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: 50px;

    /*or 125%*/
    letter-spacing: .005em;
  }

  .question-page-sub-title {
    margin-top: 66px;
    margin-bottom: 32px;
    color: #575757;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: .003em;
  }

  .question-page-wrapper-input {
    //margin-bottom: 17px;
  }
}

@media screen and ( max-width: 562px ) {
  .question-page {
    .question-page-title {
      margin-top: 54px;
      font-size: 28px;
      line-height: 28px;
      text-align: center;
    }

    .question-page-sub-title {
      margin-top: 16px;
      text-align: center;
    }
  }
}