.first-page {
  .introduction-screen {
    padding: 92px 0 72px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .14);
  }

  .development-services-info-mobile {
    display: none;
  }

  .content-screen {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .14);

    .title {
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: .0037em;
    }

    .sub-title {
      max-width: 720px;
      padding-top: 32px;
    }
  }

  .technologies-screen-first-services {
    background: var(--ligth_gray_2);

    .development-left {
      padding-left: 43px;
    }

    .column-right {
      padding-left: 42px;
    }

    .sub-title {
      max-width: 360px;
      padding-left: 5px;
    }

    .left-text {
      max-width: 360px;
      margin-bottom: 118px;
    }

    .components {
      display: flex;
      justify-content: space-between;
      margin-top: 6px;
      border-bottom: 1px solid var(--light_gray);
      cursor: pointer;

      &.active {
        .minus {
          display: block;
        }

        .plus {
          display: none;
        }
      }
    }

    .minus {
      display: none;
    }

    .info {
      display: none;
      padding-bottom: 20px;
      overflow: hidden;
    }

    .info-text {
      max-width: 807px;
      color: var(--black);
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: .4px;
    }

    .component {
      padding-bottom: 8px;
      color: var(--black);
      font-size: 15px;
      line-height: 24px;
      letter-spacing: .003em;
    }

    .component-text {
      margin-top: 31px;
    }

    .details {
      display: flex;
      cursor: pointer;
    }

    .column-left {
      padding: 69px 0 0 49px;
    }
  }

  .development-services-screen {
    .heading {
      max-width: 456px;
    }

    .title-services {
      margin-bottom: 16px;
      padding-bottom: 8px;
    }

    .text-services {
      max-width: 468px;
    }

    .development-services-right {
      width: 50%;
    }

    .development-services-left {
      width: 50%;
    }

    .development-services-right-img {
      width: 100%;
    }

    .development-services-button-1,
    .development-services-button-2 {
      padding: 12px 65px;
      color: var(--white);
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: .003em;
      text-align: center;
      background: var(--blue);
      border-radius: 4px;
      box-shadow: 0 4px 18px var(--dark-blue);

      &:hover {
        background: #356be7;
      }
    }

    .development-services-button-1 {
      padding: 12px 68px;
    }

    .development-services-button-2 {
      padding: 12px 55px;
    }
  }

  .development-services-frontend-screen {
    .development-group-frontend {
      max-width: 436px;
    }

    .development-frontend-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(81.39deg, #74e0eb 4.27%, #9fb3e6 89.83%);
    }
  }

  .development-services-backend-screen {
    .title-services-backend {
      margin-bottom: 26px;
    }

    .development-group-backend {
      max-width: 566px;
    }

    .services-backend-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(81.39deg, #74e0eb 4.27%, #9fb3e6 89.83%);
    }
  }
}


@media screen and ( max-width: 1550px ) {
  .first-page {
    .development-services-frontend-screen {
      .development-frontend-left {
        //padding: 50px 0 0 208px;
      }
    }

    .development-services-backend-screen {
      .services-backend-left {
        //padding: 50px 0 0 100px;
      }
    }
  }
}

@media screen and ( max-width: 1500px ) {
  .first-page {
    .development-services-screen {
      .text-services {
        padding-top: 30px;
        padding-bottom: 25px;
      }

      .development-services-right-img {
        min-width: 628px;
      }
    }

    .development-services-frontend-screen {
      .development-frontend-left {
        //padding: 35px 0 0 180px;
      }
    }

    .development-services-backend-screen {
      .services-backend-left {
        //padding: 35px 0 0 80px;
      }
    }
  }
}

@media screen and ( max-width: 1400px ) {
  .first-page {
    .development-services-screen {
      .text-services {
        padding-top: 15px;
        padding-bottom: 10px;
      }

      .buttons {
        padding-top: 27px;
      }

      .title-services {
        margin-bottom: 15px !important;
        padding-bottom: 6px;
      }
    }

    .development-services-frontend-screen {
      .development-frontend-left {
        //padding: 25px 0 0 120px;
      }

      .text-services {
        max-width: 420px;
      }
    }

    .development-services-backend-screen {
      .text-services {
        //max-width: 400px;
      }
    }
  }
}

@media screen and ( max-width: 1200px ) {
  .first-page {
    .development-services-screen {
      .text-services {
        margin-bottom: 12px;
      }

      .development-services-button-2 {
        padding: 12px 27px;
      }

      .development-services-button-1 {
        padding: 12px 40px;
      }
    }

    .development-services-frontend-screen {
      .development-frontend-left {
        //padding: 35px 0 0 100px;
      }

      .text-services {
        max-width: 400px;
        margin-bottom: 12px;
      }

    }

    .development-services-backend-screen {
      .services-backend-left {
        //padding: 45px 0 0 30px;
      }
    }

    .languages-screen {
      .list {
        margin-bottom: 20px;
      }
    }

    .content-screen {
      .sub-title {
        max-width: 670px;
      }

    }

    .technologies-screen-first-services {
      .left-text {
        max-width: 350px;
      }

      .component-text {
        max-width: 330px;
      }

      .column-right {
        padding-left: 0;
      }

      .development-left {
        padding-left: 20px;
      }

    }
  }

}

@media screen and ( max-width: 992px ) {
  .first-page {
    .development-services-screen {
      .development-services-button-1,
      .development-services-button-2 {
        font-size: 14px;
      }
    }

    .development-services-frontend-screen {
      .development-frontend-left {
        //padding: 35px 0 0 70px;
        padding-left: 30px;
      }

      .text-services {
        max-width: 360px;
      }

      .text-list {
        max-width: 305px;
      }
    }

    .development-services-backend-screen {
      .services-backend-left {
        //padding: 60px 0 0 25px;
        padding-left: 30px;
      }

      .heading {
        max-width: 440px;
      }
    }

    .mission-screen {
      .title {
        font-size: 40px;
      }

      .sub-title.dark {
        max-width: 348px;
        font-size: 14px;
      }
    }

    .technologies-screen-first-services {
      .column-right {
        padding: 38px 10px 0 0;
      }

      .development-left {
        padding: 25px 0 0 10px;
      }
    }
  }
}

@media screen and ( max-width: 900px ) {
  .first-page {
    .fast .general-title {
      width: 100% !important;
      font-size: 18px !important;
    }

    .fast .general-text,
    .text {
      width: 100% !important;
      max-width: 100% !important;
      font-size: 15px !important;
      text-align: left;
    }

    .development-services-info-mobile {
      display: block;
    }

    .general-title {
      text-align: left !important;
    }

    .fast-extra {
      justify-content: start !important;
    }

    .content-screen {
      box-shadow: none;
    }

    .introduction-screen {
      box-shadow: none;
    }

    .introduction-title {
      font-size: 15px !important;
    }

    .sub-title {
      font-size: 15px;
    }

    .development-services-info-mobile-wrapper {
      padding-bottom: 40px;
      background: #eff7ff;
    }

    .development-services-info-mobile-wrapper-list{
      display: flex;
      justify-content: center;
    }

    .development-services-info-mobile-list-item {
      position: relative;
    }

    .development-services-info-mobile-list-item::before {
      position: absolute;
      top: 8px;
      left: -19px;
      width: 8px;
      height: 8px;
      background: #487efb;
      transform: rotate(45deg);
      content: '';
    }

    .development-services-info-mobile-title {
      margin-top: 39px;
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
    }

    .development-services-info-mobile-title,
    .development-services-info-mobile-header,
    .development-services-info-mobile-list,
    .development-services-info-mobile-description,
    .development-services-info-mobile-wrapper-btn {
      padding: 0 12px;
    }

    .development-services-info-mobile-list {
      padding-left: 30px;
    }

    .development-services-info-mobile-wrapper-btn-top,
    .development-services-info-mobile-wrapper-btn-bottom
    {
      display: flex;
      justify-content: center;
    }

    .development-services-info-mobile-wrapper-btn-top {
      margin-top: 35px;
    }

    .development-services-info-mobile-wrapper-btn-bottom {
      margin-top: 18px;
    }

    .development-services-info-mobile-description,
    .development-services-info-mobile-header {
      text-align: center;
    }

    .development-services-info-mobile-header {
      font-weight: 600;
      font-size: 21px;
    }

    .development-services-info-mobile-images {
      width: 100%;
    }

    .development-services-screen {
      .development-services-info {
        display: none;
      }

      .development-services-info-mobile {
        display: block;
      }

      .development-services-left {
        width: 100%;
      }

      .development-frontend-left,
      .services-backend-left {
        padding: 35px 70px;
      }

      .development-services-right-img {
        display: none;
      }

      .heading,
      .title-services,
      .text-services {
        margin: 0 auto;
        text-align: center;
      }

      .text-services {
        max-width: 430px;
      }

      .development-group-frontend,
      .development-group-backend {
        justify-content: center;
        max-width: 700px;
      }

      .buttons {
        justify-content: center;
      }
    }
  }
}

@media screen and ( max-width: 767px ) {
  .first-page {
    .development-services-info-mobile-list-item {
      line-height: 28px;
    }

    .development-services-screen {
      .text-services {
        max-width: 400px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .development-services-button-1,
      .development-services-button-2 {
        font-size: 13px;
      }

      .development-frontend-left,
      .services-backend-left {
        padding: 35px 15px;
      }
    }

    .introduction-screen {
      padding: 60px 0;
    }

    .technologies-screen-first-services {
      .title {
        margin: 0 auto;
        padding-bottom: 10px;
        text-align: center;
      }

      .sub-title {
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
      }

      .left-text {
        margin: 0 auto;
        text-align: center;
      }

      .details {
        justify-content: center;
        padding-top: 10px;
      }

      .component-text {
        max-width: 100% !important;
        text-align: left;
      }

      .column-right {
        padding: 25px 30px 0;
      }

      .development-left {
        padding: 0;
      }
    }
  }
}

@media screen and ( max-width: 576px ) {
  .first-page {
    .introduction-screen {
      padding-bottom: 40px;
    }

    .development-services-screen {
      .development-services-button-1,
      .development-services-button-2 {
        font-size: 12px;
      }

      .development-services-button-1 {
        margin: 0 auto 10px;
      }

      .development-services-button-2 {
        margin: 0 auto;
      }

      .introduction-screen {
        padding: 50px 0;
      }

      .heading {
        max-width: 400px;
      }

      .buttons {
        display: block;
        padding-top: 15px;
      }

      .text-services {
        max-width: 335px;
      }
    }

    .backend-screen {
      padding: 40px 0;

      .list {
        margin-bottom: 20px;
      }
    }

    .content-screen {
      padding: 40px 0;

      .sub-title {
        max-width: 400px;
        padding-top: 20px;
      }

      .title {
        font-size: 21px;
      }
    }

    .languages-screen {
      padding-bottom: 40px;
    }

    .technologies-screen-first-services {
      padding: 40px 0;

      .sub-title {
        max-width: 290px;
      }

      .title {
        padding-bottom: 15px;
      }

      .component {
        font-size: 14px;
      }

      .column-right {
        padding: 0 30px;
      }

      .text {
        font-size: 12px;
      }

      .components {
        margin-top: 25px;
      }

      .component-text {
        max-width: 349px;
        margin: 25px auto 0;
      }
    }
  }
}

@media screen and ( max-width: 479px ) {
  .first-page {
    .development-services-screen {
      .development-frontend-left,
      .services-backend-left {
        padding: 35px 5px;
      }

      .heading {
        max-width: 350px;
      }

      .text-services {
        max-width: 310px;
      }
    }

    .content-screen {
      .sub-title {
        max-width: 295px;
        padding-top: 15px;
      }

      .title {
        font-size: 20px;
      }
    }

    .technologies-screen-first-services {
      .title {
        max-width: 290px;
        padding-bottom: 0;
      }

      .component {
        font-size: 13px;
      }

      .left-text {
        max-width: 310px;
      }

      .text {
        font-size: 12px;
      }

      .column-right {
        padding: 10px 30px 0;
      }
    }
  }
}


