.about-us-page {
  overflow: hidden;

  .introduction-screen {
    padding: 72px 0;
  }

  .mission-screen {
    background: var(--gently_gray);

    .list.aic {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        background: #487efb;
        transform: rotate(45deg);
        content: '';
      }
    }

    .title {
      max-width: 832px;
      margin-bottom: 28px;
    }

    .sub-title {
      max-width: 568px;
    }

    .sub-title-about {
      max-width: 618px;
    }

    .list {
      padding-bottom: 7px;
    }

    .list-img {
      padding-right: 13px;
    }

    .button {
      padding: 12px 54px;
    }
  }

  .cooperation-screen {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .14);

    .sub-title {
      max-width: 720px;
    }
  }

  .models-screen {
    .title-models {
      margin-bottom: 50px;
    }
  }

  .job-screen {
    .job-left-column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background: var(--background-blue);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .14);

      .text{
        font-size: 15px;
      }

      .title {
        font-size: 35px;
        line-height: 39px;

        .sub-title {
          font-weight: 600;
        }
      }
    }

    .job-right-column {
      width: 50%;
      background: var(--blue_2);

      .job-right-column-image {
        width: 100%;
      }
    }

    .button-left {
      padding: 11px 0;
      color: var(--black);
      background: var(--white);
      //border: 1px solid var(--black-ultra);
      &:hover {
        background: #f3f7fd !important;
      }
    }

    .title-right {
      color: var(--black);
    }

    .sub-title-right {
      color: var(--black);
    }

    .text-right {
      color: var(--black);
    }
  }
}

@media screen and ( max-width: 1200px ) {
  .about-us-page {
    .cooperation-screen {
      .sub-title {
        max-width: 620px;
      }
    }

    .models-screen {
      .list {
        margin-bottom: 20px;
      }
    }

    .job-screen {
      display: block;

      .job-left-column {
        width: 100% !important;
        padding-top: 42px;
        padding-bottom: 42px;

        .title {
          font-size: 30px;
        }
      }

      .job-right-column {
        display: none;
        width: 100% !important;
      }

      .right-column,
      .left-column {
        text-align: center;
      }

      .button-left,
      .button-right {
        margin: 0 auto;
      }

    }
  }
}

@media screen and ( max-width: 992px ) {
  .about-us-page {
    .job-screen {
      .job-left-column {
        .title {
          font-size: 28px;
        }
      }
    }

    .mission-screen {
      .sub-title.dark {
        max-width: 348px;
      }
    }
  }
}

@media screen and ( max-width: 767px ) {
  .about-us-page {
    .mission-left {
      order: 2;

      .title {
        text-align: center;
      }
    }

    .mission-right {
      order: 1;
    }

    .introduction-screen {
      padding: 60px 0;
    }

    .mission-screen {
      .sub-title.dark {
        max-width: 100%;
      }

      .sub-title-dark {
        font-weight: 400;
      }

      .list-img {
        width: 219px;
        margin: 0 auto;
        margin-bottom: 42px;
      }
    }

    .cooperation-screen {
      .sub-title {
        max-width: 480px;
      }
    }

    .job-screen {
      .job-left-column {
        padding: 50px 0 !important;
      }


      .job-right-column {
        .right-column column-image {
          width: 100%;
        }
      }

      .text-right,
      .text {
        padding: 25px 0 40px;
      }


      .button-right {
        padding: 12px 60px;
        font-size: 12px;
      }
    }
  }
}

@media screen and ( max-width: 576px ) {
  .about-us-page {
    .job-screen .job-left-column .title {
      font-size: 28px;
    }

    .introduction-screen {
      padding: 50px 0;
    }

    .mission-screen {
      .mission {
        padding: 50px 0;
      }

      .title {
        text-align: center;
      }

      .list {
        //justify-content: center;
      }

      .sub-title-dark {
        margin: 0 auto;
        //text-align: center;
      }

      .button {
        margin: 0 auto;
      }
    }

    .cooperation-screen {
      .cooperation {
        padding: 50px 0;
      }

      .title {
        padding-bottom: 20px;
      }

      .sub-title {
        max-width: 440px;
      }
    }

    .models-screen {
      .models {
        padding: 50px 0;
      }
    }
  }
}

@media screen and ( max-width: 479px ) {
  .about-us-page {
    .mission-screen {
      .button {
        padding: 9px 32px !important;
        font-size: 12px;
      }
    }

    .job-screen .job-left-column .title {
      font-size: 26px;
    }

    .cooperation-screen {
      .title {
        padding-bottom: 20px;
      }

      .sub-title {
        max-width: 370px;
      }
    }

    .job-screen {
      .job-left-column,
      .job-right-column {
        padding: 30px 0 !important;
      }

      .text-right,
      .text {
        padding: 10px 0 25px;
      }

      .button-right,
      .button-left {
        padding: 7px 45px !important;
      }
    }
  }
}