.footer {
  margin-top: 80px;

  .icons {
    padding: 66px;
    background: var(--ligth_gray_2);
  }

  .footer_copy-img {
    max-width: 40px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .footer_copy {
    text-align: center;
  }

  .copy {
    margin: 23px 0 74px;
    color: var(--gray_2);
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .003em;
  }

  .list {
    cursor: pointer;
  }
}

@media screen and ( max-width: 768px ){
  .footer {
    margin-top: 40px;

    .icons {
      padding: 50px;
    }

    .footer_copy-img {
      padding-top: 50px;
    }

    .copy {
      font-size: 13px;
    }
  }
}

@media screen and ( max-width: 576px ){
  .footer {
    margin-top: 30px;

    .list {
      margin-right: 30px;
    }

    .icons {
      padding: 30px;
    }

    .footer_copy-img {
      max-width: 40px;
      padding-top: 30px;
    }

    .copy {
      margin: 23px 0 55px;
    }
  }
}

@media screen and ( max-width: 320px ){
  .footer {
    .copy {
      font-size: 11px;
    }
  }
}