.technologies-page {
  .introduction-screen {
    padding: 72px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .14);
  }

  .technologies-posts-screen {
    overflow: hidden;

    .sub-title {
      max-width: 669px;
      color: #000;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
    }

    .sub-title-text {
      max-width: 615px;
    }

    .technologies-info {
      color: #000;
      font-weight: 300;
      font-size: 24px;
      font-style: normal;
      line-height: 32px;

      /*identical to box height, or 133%*/
      letter-spacing: .4px;
    }

    .technologies-post-container:nth-child( 2n+1 ) {
      background: var(--ligth_gray_2);
    }
  }
}

@media screen and ( max-width: 992px ) {
  .technologies-page {
    .technologies-post-left {
      display: flex;
      justify-content: center;
    }

    .technologies-list {
      display: flex;
      justify-content: center;
    }

    .technologies-post-right {
      .title,
      .sub-title {
        max-width: 100%;
        text-align: center;
      }

      .title {
        margin-top: 25px;
        font-size: 24px;
      }

      .sub-title {
        font-size: 18px;
      }
    }
  }
}

@media screen and ( max-width: 1200px ) {
  .technologies-page {
    .technologies-posts-screen {
      .sub-title {
        font-size: 20px;
      }

      .technologies-info {
        font-size: 22px;
      }
    }
  }
}

@media screen and ( max-width: 992px ) {
  .technologies-page {
    .technologies-posts-screen {
      .sub-title {
        font-size: 19px;
      }

      .technologies-info {
        font-size: 19px;
      }
    }
  }
}

@media screen and ( max-width: 767px ) {
  .technologies-page {
    .introduction-screen {
      padding: 60px 0;
    }
  }
}

@media screen and ( max-width: 576px ) {
  .technologies-page {
    .technologies-post-left {
      display: flex;
      justify-content: center;

      img {
        width: 213px;
        height: 213px;
      }
    }

    .technologies-list {
      justify-content: left;
    }

    .technologies-post-right {
      .sub-title {
        color: #000;
        font-weight: 400;
        font-size: 19px;
        text-align: left;
      }
    }

    .technologies-info {
      .info-text {
        font-size: 18px;
      }
    }

    .introduction-screen {
      padding: 50px 0;
    }
  }
}
